body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0;
  padding: 15px;
  border: none;
  background: #0024fc;
  box-sizing: border-box;
  box-shadow: inset 2px 2px 5px rgba(255,255,255,0.1);
}
* {
  user-select: none;
}
#logo {
  width: 120px;
  height: auto;
}
#status {
  position: absolute;
  left: 15px;
  bottom: 15px;
  color: white;
  font-size: 12px;
}